@import '~bootstrap/scss/bootstrap';

body {

    background-color: darkslategray;

    .container {
        width: 100%;

        display: flex;
        flex-flow: row wrap;

        margin-top: 5em;

        .card {
            width: calc(100% / 3);

            background-color: darkgray;

            border: 1px solid black;

            .card-body {

                span {
                    strong {
                        color: brown;
                    }
                }

            }


        }
    }
}